@media (max-width: 1600px) {
    .page__block, .page__block_main {
        width: 93.75%; 
    }
}
@media (max-width: 1279px) {
    .dropdown-development {
        display: block;
    }
    .nav__link-development {
        display: none;
    }
}
@media (max-width: 1023px) {
    .dropdown-company {
        display: block;
    }
    .nav__link-company {
        display: none;
    }
}
@media (max-width: 1028px) {
    .menu-up__text {
        display: none;
    }
}
@media (max-width: 683px) {
    .menu-up {
        justify-content: center;
        flex-direction: column;
    }
    .logo {
        padding-right: 0;
        margin-bottom: 26px;
    }
} 
@media (max-width: 435px) {
    .contact-us {
        flex-direction: column;
    }
    .tel {
        margin-right: 0;
        margin-bottom: 26px;
    }
}
@media (max-width: 767px) {
    .font-h1 {
        font-size: 51px;
    }
}
@media (max-width: 479px) {
    .font-h1 {
        font-size: 38px;
    }
    .font-h2 {
        font-size: 30px;
    } 
    .font-button-1 {
        font-size: 16px;
    }
    .cover-content__button_1 {
        margin-right: 0;
    }
}