@media (max-width: 1279px) {
    .dropdown-development {
        display: block;
    }
    .nav__link-development {
        display: none;
    }
    .headline-2 {
        text-align: center;
    }
}
@media (max-width: 1023px) {
    .dropdown-company {
        display: block;
    }
    .nav__link-company {
        display: none;
    }
    .menu-up__text {
        display: none;
    }
}
@media (max-width: 799px) {
    .search__block {
        width: 70%;
    }
    .search__input {
        width: 63.75vw;
        margin: 23px 3.125vw;
    }
    .font-h1 {
        font-size: 51px;
    }
    .menu-up {
        justify-content: center;
        flex-direction: column;
    }
    .logo {
        padding-right: 0;
        margin-bottom: 26px;
    }
}
@media (max-width: 599px) {
    .nav {
        flex-direction: column;
        justify-content: start;
        align-items: center;
    }
    .dropdown-menu {
        position: static;
    }
    .dropdown__link {
        text-align: center;
    }
}
@media (max-width: 479px) {
    .contact-us {
        flex-direction: column;
    }
    .tel {
        margin-right: 0;
        margin-bottom: 26px;
    }
    .search__block {
        width: 100%;
    }
    .search__input {
        width: 93.75vw;
    }
    .font-h1 {
        font-size: 38px;
    }
    .font-h2 {
        font-size: 30px;
    } 
    .font-button-1 {
        font-size: 16px;
    }
    .cover-content__button_1 {
        margin-right: 0;
    }
}
@media (hover: none) {
    .dropdown__link {
        pointer-events: none;
    }
    .dropdown:hover .dropdown__link {
        pointer-events: auto;
    }
}